<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <ul>
        <% clientes.forEach(cliente => { %>
            <li>
                <div class="cliente-nombre"><%= cliente.nombre %></div>
                <% if (cliente.edad) { %>
                    <div class="cliente-edad">Edad: <%= cliente.edad %> años</div>
                <% } %>
            </li>
        <% }); %>
    </ul>
    <a href="/">Volver al Inicio</a>
</body>
</html>
