<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        <% productos.forEach(producto => { %>
            <li>
                <div class="producto-nombre"><%= producto.nombre %></div>
                <% if (producto.precio) { %>
                    <div class="producto-precio">Precio: S/.<%= producto.precio %></div>
                <% } %>
            </li>
        <% }); %>
    </ul>
    <a href="/">Volver al Inicio</a>
</body>
</html>
